[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
elmawebapi = {editable = true, path = "."}

[dev-packages]
ipython = "*"
black = "*"
pytest = "*"
#mypy = "*"
pytest-cov = "*"
tox = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
